@model Periodic.Ts.Timeseries

@{
    ViewBag.Title = "Månatlig förbrukning";
}

<h2>Månatlig förbrukning</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>Månad</th>
        <th>Förbrukning</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.V)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>

<div id="graphdiv"></div>

<div>
    @Html.ActionLink("Tillbaka", "Index", "Home")
</div>

<script type="text/javascript"
        src="~/Scripts/dygraph-combined-dev.js"></script>
<script type="text/javascript">
  g = new Dygraph(

    // containing div
    document.getElementById("graphdiv"),

    // CSV or path to a CSV file.
      "/api/periodic/1234/monthly/csv",
      {
          highlightSeriesOpts: {
              strokeWidth: 3,
              strokeBorderWidth: 1,
              highlightCircleSize: 5
          },
          xlabel: 'Månad',
          ylabel: 'kWh'
      }
  );
</script>